<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Labas, tai yra užrašinė kiekvienam!
    </h1>
    <button>
        <a href="./notes">
            Į užrašinę!
        </a>
    </button>
    <div class = "center">
        <h1 class = "sriftas" style = "font-size: 35px">Registracija</h1>
        <form action="/" method = "POST">
            <p>Username:</p>
            <input class = "ivedimo_laukas" id="username" name="username" value="">
            <p>Password:</p>
            <input class = "ivedimo_laukas" type="password" id="password" name="password" value="">
            <br><br>
            <input class = "button" type="Submit" value = "Registruotis">
        </form>
        <p>
            {{ status }}
        </p>
    </div>
</body>
</html>